name: Build Signed APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # Checkout repo
    - uses: actions/checkout@v4

    # Setup Java
    - uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17

    # Setup Gradle (auto-download)
    - uses: gradle/actions/setup-gradle@v3
      with:
        gradle-version: 9.2.1    # যে version তুমি চাও

    # Decode keystore
    - name: Decode keystore
      run: |
        echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > keystore.jks

    # Build APK
    - name: Build Signed APK
      run: gradle assembleRelease \
           -Pandroid.injected.signing.store.file=keystore.jks \
           -Pandroid.injected.signing.store.password=${{ secrets.KEYSTORE_PASSWORD }} \
           -Pandroid.injected.signing.key.alias=${{ secrets.KEY_ALIAS }} \
           -Pandroid.injected.signing.key.password=${{ secrets.KEY_PASSWORD }}

    # Upload APK
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: TIC_TAC_TOE_APK
        path: app/build/outputs/apk/release/*.apk
